.credit {
  padding: 0 15px;
  color: $black-text;

  h2 {
    font-family: $roboto;
    font-weight: bold;
    font-size: 41px;
    line-height: 140%;
    margin-bottom: 70px;
  }

  h3 {
    font-size: 22px;
    line-height: 140%;
    margin-top: 0;
  }
}

.credit__form-wrapper {
  margin-right: 30px;
}

.credit__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }

  span {
    color: $grey-text;
  }

  .credit__error-text {
    position: absolute;
    top: -35px;
    right: 0;
    color: red;

    &--closed {
      display: none;
    }
  }
}

// .credit__container {
//   // border: 1px solid black; //временно
//   // min-height: 500px; //временно
// }

.credit__goal,
.credit__parameters {
  padding: 0;
  width: 600px;
  border: none;

  h3 {
    margin-bottom: 30px;
  }
}

label {
  font-size: 16px;
  line-height: 140%;
  color: $dark-grey-text;
  display: block;
  margin-bottom: 15px;
}

span {
  display: block;
}

input,
select {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  padding: 15px;
  border: 1px solid $black-text;
  border-radius: 4px;
  background-color: inherit;
}

select {
  margin-bottom: 40px;
}

// отсечка
.credit__select-block {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  // border: 1px solid $black-text;
  //border-radius: 4px;
  background-color: inherit;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.credit__select-active,
.credit__select-item {
  margin: 0;
  padding: 15px;
  cursor: pointer;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.credit__select-active {
  border-radius: 4px 4px 0 0;
  border: 1px solid $black-text;
  border-bottom: none;
  background: url("../img/arrow-open-icon.svg") no-repeat right 24px center;

  &--closed {
    border-bottom: 1px solid $black-text;
    border-radius: 4px;
    background-image: url("../img/arrow-closed-icon.svg");
  }
}

.credit__select-item {
  border-bottom: 1px solid $grey-slider;

  &:last-child {
    border-bottom: none;
  }
}

.credit__select-list {
  font-weight: normal;
  border: 1px solid $black-text;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  position: absolute;
  background-color: $white;
  width: 100%;

  &--closed {
    display: none;
  }

  // временно
  // &:focus {
  //   background-color: blue;
  // }
}

.credit__value-block {
  margin-bottom: 30px;
}

.credit__value-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.credit__value-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: no-repeat center;
  cursor: pointer;

  @include hover-effect;

  &--minus {
    left: 22px;
    background-image: url("../img/minus-icon.svg");
  }

  &--plus {
    right: 22px;
    background-image: url("../img/plus-icon.svg");
  }
}

.credit__first-payment-block {
  margin-bottom: 30px;

  &--closed {
    display: none;
  }
}

// стилизация ползунка  https://www.knlnt.com/les?id=54
// необходимо добавить для moz и opera
.credit__first-payment-slider {
  margin-top: 10px;

  input {
    @include slider-stilization;
  }

  span {
    margin-top: 8px;
  }
}

.credit__time-block {
  margin-bottom: 30px;
}

.credit__time-slider {
  input {
    @include slider-stilization;
  }

  span {
    margin-top: 8px;
  }
}

.credit__mother-capital-block {
  display: flex;
  // align-items: bo;

  label {
    margin: 0;
    cursor: pointer;

    @include hover-effect;
  }

  label::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: $blue;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
  }

  input:checked + label::before {
    background-image: url("../img/checked-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

// Блок "Наше предложение"
.credit__offer {
  border: none;
  width: 500px;
  padding: 60px;
  background-color: $grey;
  align-self: flex-start;
}

// .credit__offer-container {
//   min-width: 340px;
// }

.credit__offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.credit__offer-item {
  @media (max-width: 1150px) {
    width: 100%;
  }
}

.credit__offer-value {
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 15px;
}

.credit__offer-label {
  font-size: 16px;
  line-height: 140%;
  color: $dark-grey-text;
  margin-top: 0;
  margin-bottom: 40px;
}

.credit__offer-button {
  width: 100%;
}

@media (max-width: 1023px) {
  .credit {
    h2 {
      text-align: center;
    }
  }

  .credit__form-wrapper {
    margin: 0 auto;
  }
}

.closed {
  display: none;
}

.credit__error {
  width: 500px;
  padding: 60px;
  background-color: $grey;
  align-self: flex-start;

  h3 {
    span {
      color: inherit;
    }
  }

  p {
    padding-right: 50px;
  }
}

.credit__value-error {
  border: 1px solid red;
}
